<a href="https://colab.research.google.com/github/RaqeebShaikh12/Superstore-Sales-Analysis-Data-Visualisation/blob/main/Superstore_Sales_Analysis_%26_Data_Visualisationipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import files
uploaded=files.upload()

Saving superstore_final_dataset.csv to superstore_final_dataset.csv

In [4]:
import io
 
data = pd.read_csv(io.BytesIO(uploaded['superstore_final_dataset.csv']))

In [5]:
data.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [6]:
data.shape

(9800, 18)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [8]:
data.describe()

            Row_ID   Postal_Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [9]:
updated_data=data.drop('Row_ID',axis=1)

In [10]:
duplicateRows = updated_data[updated_data.duplicated(keep='last')]
duplicateRows

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
3405,US-2015-150119,23/04/2015,27/04/2015,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372

In [11]:
updated_data = updated_data.drop_duplicates()

In [12]:
updated_data.shape

(9799, 17)

In [13]:
updated_data.isnull().sum()

Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [14]:
updated_data_1=updated_data.dropna(axis=0)

In [15]:
updated_data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9788 non-null   object
 1   Order_Date     9788 non-null   object
 2   Ship_Date      9788 non-null   object
 3   Ship_Mode      9788 non-null   object
 4   Customer_ID    9788 non-null   object
 5   Customer_Name  9788 non-null   object
 6   Segment        9788 non-null   object
 7   Country        9788 non-null   object
 8   City           9788 non-null   object
 9   State          9788 non-null   object
 10  Postal_Code    9788 non-null   float64
 11  Region         9788 non-null   object
 12  Product_ID     9788 non-null   object
 13  Category       9788 non-null   object
 14  Sub_Category   9788 non-null   object
 15  Product_Name   9788 non-null   object
 16  Sales          9788 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [16]:
updated_data['Order_Date']=pd.to_datetime(updated_data['Order_Date'])
updated_data['Ship_Date']=pd.to_datetime(updated_data['Ship_Date'])

In [17]:
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9799 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9799 non-null   object
 1   Order_Date     9799 non-null   datetime64[ns]
 2   Ship_Date      9799 non-null   datetime64[ns]
 3   Ship_Mode      9799 non-null   object
 4   Customer_ID    9799 non-null   object
 5   Customer_Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9799 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal_Code    9788 non-null   float64
 11  Region         9799 non-null   object
 12  Product_ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub_Category   9799 non-null   object
 15  Product_Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.3+ MB

In [18]:
updated_data['New_Ship_Date']=updated_data['Ship_Date']>=updated_data['Order_Date']

In [19]:
updated_data['New_Ship_Date'].unique()

array([ True, False])

In [20]:
unique_count=updated_data['New_Ship_Date'].nunique()

In [21]:
updated_data['New_Ship_Date'].value_counts()

True     8115
False    1684
Name: New_Ship_Date, dtype: int64

In [22]:
final_data=updated_data.drop(updated_data[updated_data['New_Ship_Date']==False].index)

In [23]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8115 entries, 0 to 9795
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       8115 non-null   object
 1   Order_Date     8115 non-null   datetime64[ns]
 2   Ship_Date      8115 non-null   datetime64[ns]
 3   Ship_Mode      8115 non-null   object
 4   Customer_ID    8115 non-null   object
 5   Customer_Name  8115 non-null   object
 6   Segment        8115 non-null   object
 7   Country        8115 non-null   object
 8   City           8115 non-null   object
 9   State          8115 non-null   object
 10  Postal_Code    8104 non-null   float64
 11  Region         8115 non-null   object
 12  Product_ID     8115 non-null   object
 13  Category       8115 non-null   object
 14  Sub_Category   8115 non-null   object
 15  Product_Name   8115 non-null   object
 16  Sales          8115 non-null   float64
 17  New_Ship_Date  8115 non-null   bool
dtypes: bool(1), datetime64[ns](2), float64(2), object(13)
memory usage: 1.1+ MB

In [24]:
final_data=final_data.drop('New_Ship_Date',axis=1)

In [25]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8115 entries, 0 to 9795
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       8115 non-null   object
 1   Order_Date     8115 non-null   datetime64[ns]
 2   Ship_Date      8115 non-null   datetime64[ns]
 3   Ship_Mode      8115 non-null   object
 4   Customer_ID    8115 non-null   object
 5   Customer_Name  8115 non-null   object
 6   Segment        8115 non-null   object
 7   Country        8115 non-null   object
 8   City           8115 non-null   object
 9   State          8115 non-null   object
 10  Postal_Code    8104 non-null   float64
 11  Region         8115 non-null   object
 12  Product_ID     8115 non-null   object
 13  Category       8115 non-null   object
 14  Sub_Category   8115 non-null   object
 15  Product_Name   8115 non-null   object
 16  Sales          8115 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.1+ MB

In [26]:
final_data.to_csv('cleaned_superstore_dataset.csv',encoding = 'utf-8',index=False) 
files.download('cleaned_superstore_dataset.csv')